<section>
  <%menus.all.each do |menu|%>
    <li class="MenuItem">
      <%=link_to menu_path(menu.id) do%>
        <label class="MenuItem-container">
          <p class="MenuItem-text"><%= menu.menu_name %></p>
          <%=image_tag 'trash-can.svg' %>
        </label>
      <%end%>
    </li>
  <%end%>
</section>
