.MenuItem-container {
  display: flex;
  background-color: white;
  padding: 20px;
}
.MenuItem-name {
  font-size: 30px;
}
.MenuItem-price {
  font-size: 15px;
}

.AddMenuItem-name,
.AddMenuItem-price {
  padding: 6px;
  margin-right: 10px;
  margin-left: 20px;
}
.MenuItems-grid {
  display: grid;
  width: 70%;
  margin-left: 3%;
  padding: 50px;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto auto;
  grid-gap: 30% 20%;
  justify-items: center;
}
.FoodCart-grid {
  display: grid;
  background-color: white;
  grid-template-columns: 500px;
  grid-template-rows: 100%;
}
.Wrapper {
  display: flex;
}
